node_modules
dist
.nyc_output
coverage

tsconfig.tsbuildinfo
.DS_Store
.env
.eslintcache

*.tgz

__tests__
.github
.husky
.vscode
public
src

.dockerignore
.eslintignore
.eslintrc.js
.nvmrc
.prettierignore
.prettierrc
Dockerfile
tsconfig.json
